/* dl {
    margin: 1em;
    display: grid;
    grid-auto-flow: column;
    /* doesn't assume 3 terms but N *
    grid-auto-columns: 1fr 3fr;
    grid-template-rows: repeat(0, min-content);
}
 */
/* dt {
    grid-row-start: 1;
    font-weight: bold;
} */

dl {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-row-gap: 4px;
}

dt {
    font-weight: bold;
}
