.window {
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 850px) {
  .window {
    width: 75%;
  }
}

@media screen and (min-width: 1350px) {
  .window {
    width: 50%;

  }
}

.nope {
  color: #8e8e91;
}
.yep {
  color: black;
}
.chosen {
  background: black;
  border-radius: 6px;
  color: white;
  font-family: Chicago_12;
}
.next {
  margin-top: 1em;
}
.slots {
  width: 350px;
  float: right;
}
.align {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}
.actions {
  justify-content: flex-end;
  display: flex;
}
h1 {
  font-size: 60px;
  text-align: center;
}
h2 {
  font-size: 32px;
  text-align: center;
}
p {
  font-size: 20px;
  text-align: center;
}
button {
  font-size: 20px;
  text-align: center;
  width: 10em;
  margin: 0.5em;
}
tr {
  font-size: 20px;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
}
